#main-content {
    min-height: calc(100vh - var(--profile-footer-height) - var(--profile-header-height))
}

.container > .row > * {
    margin: 20px 0;
}
b {
    font-weight: 600;
}
.header-3 {
    font-weight: 600;
    font-size: 24px;
}
.button-train {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-train a {
    display: flex;
    height: 80px;
    background-color: var(--blue);
    color: var(--bs-white);
    text-decoration: none;
    border-radius: 1.0em;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .button-train {
        flex-direction: column;
    }
    .button-train a {
        width: 100%;
        height: 3em;
        border-radius: 30px !important;
    }
    .button-train .chain {
        width: 2.5em !important;
        height: 1.5em !important;
        --circle-size: 0.75em;
        background:
            radial-gradient(
                circle at 0% 50%,
                white calc(var(--circle-size) - 1px),
                transparent var(--circle-size)
            ),
            radial-gradient(
                circle at 100% 50%,
                transparent calc(var(--circle-size) - 1px),
                var(--blue) var(--circle-size)
            ) !important;
    }
    .button-train .chain-container {
        position: relative;
    }
    .button-train > .chain-container:nth-child(2) {
        left: -5%;
    }
    
    .button-train > .chain-container:nth-child(4) {
        left: 10%;
    }
    
    .button-train > .chain-container:nth-child(6) {
        left: -20%;
    }
    
    .button-train > .chain-container:nth-child(8) {
        left: 10%;
    }
}
.button-train .chain-container {
    display: flex;
    flex-direction: column;
}
.button-train .chain {
    display: flex;
    width: 2em;
    height: calc(80px - 2em);
    background:
        radial-gradient(
            circle at 50% 100%,
            white calc(1em - 1px),
            transparent 1em
        ),
        radial-gradient(
            circle at 50% 0%,
            transparent calc(1em - 1px),
            var(--blue) 1em
        );

}
.advantages > .row > * {
    --bs-gutter-x: 2px
}