@import url("history-block.css");
@import url("header.css");
@import url("footer.css");
@import url("main-content.css");
@import url("auth.css");
@import url("profile-header.css");
@import url("profile-footer.css");

@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter.ttf");
}

:root {
    --primary: #D0082C;
    --primary-hover: #DA3739;
    --blue: #4B6FCB;
    --secondary: white;
    --dark: #302D3D;
}

.btn-primary {
    color: white !important;
    border: 0 !important;
    background-color: var(--primary) !important;
}
.btn-secondary {
    color: black !important;
    border: 2px solid #302D3D !important;
    background-color: var(--secondary) !important;
}
* {
    font-family: Inter;
}
body {
    font-size: 12pt !important;
}
.unloginned {
    --padding-x: 13px;
    --padding-y: 13px;
    padding: var(--padding-y) var(--padding-x) 0 var(--padding-x) !important;
}
.loginned {
    padding: 0 !important;
}
.f-primary {
    color: var(--primary);
}
.f-dark {
    color: var(--dark);
}
.f-blue {
    color: var(--blue);
}
.back-primary {
    color: var(--bs-white);
    background-color: var(--primary) !important;
}
.btn-light {
    border: 0 !important;
}
.btn-light:hover {
    color: var(--bs-white) !important;
    background-color: var(--blue) !important;
}
.back-primary:hover {
    background-color: var(--primary-hover) !important;
}
.back-dark {
    color: var(--bs-white);
    background-color: var(--dark) !important;
}
.back-blue {
    color: var(--bs-white);
    background-color: var(--blue) !important;
}

hr {
    color: var(--primary) !important;
    border-top: 2px var(--primary) solid !important;
    opacity: 1 !important;
}
.inclined {
    display: inline-block;
    rotate: -2deg
}
.bracket-bg {
    background: url(../img/bracket-bg.svg) no-repeat;
    display: inline-block;
    width: 595px;
    height: 73px;
    min-width: 100%;
    max-width: 100%;
}
.invert {
    filter: invert(100%);
}
.invert:is(.plus-bg), .invert:is(.bracket-bg) {
    filter: invert(50%) !important;
}
.plus-bg {
    --bg-scale: 0.6;
    background: url(../img/plus-bg.svg) no-repeat;
    transform: scale(var(--bg-scale));
    display: inline-block;
    width: 356px;
    height: 125px;
    min-width: 100%;
    max-width: 100%;
    background-size: padding-box padding-box;
}

.fs-7 {
    font-size: 10pt; 
}
.logo-a {
    display: inline-block;
    min-width: 26px;
    height: 1.25ch;
    background-image: url(../img/logo-a.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.gutter-substract {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.gutter-x-substract {
    --bs-gutter-x: 0;
}

.gutter-y-substract {
    --bs-gutter-y: 0;
}

.bg-blinked {
    --radius: 200px;
    --blink-color: #aaa;
    --bg-color: var(--dark); 

    background: 
        radial-gradient(
            circle at 80% 115%,
            var(--blink-color) 0,
            transparent var(--radius)),
        radial-gradient(
            circle at 30% -15%, 
            var(--blink-color) 0, 
            var(--bg-color) var(--radius));
}
.logo-container {
    height: inherit;
}
.logo {
    min-width: 100px;
    height: inherit;
}
.monochrom-invert {
    filter: invert(1) hue-rotate(180deg) saturate(3.0) brightness(0.9);
}