body {
    margin:0;
    padding:0;
    font-size: 12pt !important;
}

#header {
    padding: 13px;
    width: 100%;
    height: fit-content;
    background: #302D3D radial-gradient();
    border-radius: 0 0 20px 20px;
    padding-bottom: 20px;
    display: grid;
    gap: 8px;
    grid-template-columns: auto 50% auto auto;
    grid-template-rows: max-content;    
}

.btn {
    height: fit-content;
    line-height: 1.3em !important;
    border-radius: 1.3em !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    align-self: center;
}
.logo-container {
    height: inherit;
}
.logo {
    max-width: 100px;
    height: inherit
}